<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <div class="jumbotron">
        <h1 class="display-4">Django RESTful API</h1>
        <p class="lead">This is an example of RESTful API</p>
      </div>

      <!-- Content -->
      <div>
        <!-- 1. Get and Save Users -->
        <hr>
        <a class="btn btn-primary btn-lg" onclick="get_data_from_url('https://jsonplaceholder.typicode.com/users');" role="button">Get and Save users</a>

        <!-- 2. Add a user -->
        <hr>
        <form action="/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="username" class="form-control" id="usernameInput" name="usernameInput" placeholder="Enter username" required>
          </div>
          <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label for="catchPhraseInput">Catch Phrase</label>
            <input type="string" class="form-control" id="catchPhraseInput" name="catchPhraseInput" placeholder="Enter catch phrase" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- 3. Display all users -->
        <hr>
        {% if data %}
          <a class="btn btn-info btn-lg" href="#" role="button">Display all users</a>
        {% endif %}
      </div>

      <!-- Result -->
      <div>
      {% if data %}
        {% for user in data %}
          <p>{{ user.id }} : {{ user.username }} -- {{ user.email }} -- {{ user.catch_phrase }}</p>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <!-- personal script -->
    <script>
      async function get_data_from_url(url) {
        try {
          let response = await axios.get(url);
          let data = response.data;
          console.log(data);
        } catch (error) {
          console.error(error);
        }
      }

      async function post_data_to_url(url) {
        try {
          let payload = {
            "username": "test",
            "email": "343434@aaa.com",
            "catch_phrase": "3434"
          };
          let response = await axios.post(url, payload);
          let data = response.data;
          console.log(data);
        } catch (error) {
          console.error(error);
        }
      }
  </script>
  </body>
</html>
